/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  position: relative;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  bottom: 2.5px;
  animation: drop .6s;
  
}

@keyframes drop {
  0% {
    transform: translateY(-400px);
    animation-timing-function: ease-in;
  }
  66% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  88% {
    transform: translateY(-20px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

 
/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
  background-color: rgba(206, 8, 39, 0.84);
}

.p2 {
  background-color: rgba(8, 47, 206, 0.84);
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
